<div *ngIf="city">

    <h2>{{city.name | uppercase}} Details</h2>
    <div><span>id: </span>{{city.cityId}}</div>
    <div>
        <label>name:
            <input [(ngModel)]="city.name" placeholder="name" />
        </label>
    </div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
    <h3 >City Assigned To Hero</h3>
    <ul class="heroes" *ngIf="assignedHeroes.length>0">
        <li *ngFor="let hero of assignedHeroes" >
            <a routerLink="/details/{{hero.id}}">
                <span class="badge">{{hero.id}}</span> {{hero.name}}
            </a>
        </li>
    </ul>
    <p *ngIf="assignedHeroes.length===0" class="empty">
        <b>No hero is assigned to this City!</b>
    </p>    
    

</div>