<div *ngIf="hero" class="detailBody">
  <div class="row">
    <div class="col m-2">
      <h2>{{ hero.name | uppercase }} Details</h2>
      <div><span>id: </span>{{ hero.id }}</div>
      <div>
        <label
          >name:
          <input [(ngModel)]="hero.name" placeholder="name" />
        </label>
      </div>
      <button class="formButton" (click)="goBack()">go back</button>
      <button class="formButton" (click)="save()">save</button>
    </div>
    <div class="col m-2">
      <h2>Add Powers</h2>

      <div class="btn-group mr-2">
        <button
          type="button"
          class="btn btn-primary dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Powers
        </button>
        <div class="dropdown-menu">
          <div
            class="dropdown-item"
            *ngFor="let power of powers"
            (click)="onSelectPower(power)"
          >
            {{ power.name }}
          </div>
        </div>
      </div>
      <ul class="list-group" *ngIf="selectedPowers">
        <li
          class="list-group-item d-flex justify-content-between align-items-center listItem mt-2"
          *ngFor="let power of selectedPowers"
        >
          {{ power.name }}
          <div class="btn-group" role="group" aria-label="Basic example">
            <button
              class="btn btn-outline-danger bt-sm"
              title="delete power"
              (click)="onDeletePower(power)"
            >
              x
            </button>
            <button 
            class="btn btn-outline-success bt-sm" 
            title="Add power"
            (click)="onPowerAdd(power.id,hero.id)"
            >
              +
            </button>
          </div>
        </li>
      </ul>
        <hr>
        <h2 *ngIf="heroPowers">{{ hero.name | uppercase }} Power</h2>
        <ul class="list-group" *ngIf="heroPowers">
          <li
            class="list-group-item d-flex justify-content-between align-items-center listItem mt-2"
            *ngFor="let power of heroPowers">
            <span>{{ power.name }}</span>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button
                class="btn btn-outline-danger bt-sm"
                title="delete power"
                (click)="onDeleteHeroPower(power.id)"
              >
                x
              </button>
            </div>
          </li>
        </ul>


    </div>
  </div>
</div>
